@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/* custom theme variables */
@theme {
  /* orange */
  --color-primary: #fd661f;
  /* teal */
  --color-secondary: #0b7077;
  /* Charcoal Blue-Gray for body color  */
  --color-tertiary: #2e303a;
  /* Charcoal Blue-Gray for nav color  */
  --color-quaternary: #2b2d38;
  /* Heading color  */
  --color-htext: #15202e;

  /* fonts  */
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}
@layer components {
  .primary-btn {
    @apply bg-primary text-white font-Montserrat font-semibold text-lg px-6 py-[10px];
  }
  .search-btn {
    @apply bg-primary text-white font-Montserrat font-semibold text-sm px-4 py-3;
  }
  .containers {
    @apply max-w-[1320px] mx-auto px-6;
  }
}
